.About {
  display: grid;
  place-items: center;
}

.About__title {
  text-align: center;
  margin: 1.5em;
  font-size: 3em;
}

.About__container {
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: center;
}

.About__container img {
  width: 20em;
}

.About__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 7em;
}

.About__text h3 {
  font-size: 1.5em;
}

.About__text p {
  color: #666;
}

.About__education {
  width: 900px;
  height: 500px;
  background-color: #eaeaea85;
  /* border: 1px solid #707070; */
  border-radius: 15px;
  margin-top: 10em;
}

.About__education h4 {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}
