@import "./responsive.css";

.About__container {
  width: 100%;
  margin: 8em 2em 0 2em;
  padding: 0 15em;
  text-align: left;
}

.About__container img {
  width: 20em;
  float: left;
  padding-right: 4em;
}

.About__text {
}

.About__text h3 {
  font-size: 1.7em;
}

.About__text p {
  color: #666;
  line-height: 1.7;
  margin: 1em 0;
  font-size: 1em;
}

.resume_button {
  background-color: #766161 !important;
  color: white !important;
  padding: 1em 2em !important;
}

.resume_button:hover {
  background-color: #ffc288 !important;
}
