.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12em 0 7em 0;
  text-align: center;
}

.Contact__title {
  font-size: 3em;
  margin-bottom: 0.3em;
}

.Contact_subtitle {
  margin-bottom: 6em;
  color: #666;
}
