.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 900px; */
  margin-top: 8em;
  text-align: center;
}

.Contact__title {
  font-size: 3em;
  margin-bottom: 0.3em;
}
