.ContactInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: initial;
  margin-bottom: 4em;
}

.contact_icon {
  flex: 0.18;
}

.contact_info {
  margin-left: 3em;
  flex: 1;
  line-height: 2;
}

.contact_info h4 {
  font-size: 1.3em;
}