@import "./responsive.css";

.Educations {
  margin-top: 10em;
  padding: 0 2em;
  width: 100%;
}

.Educations h1 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.Educations p {
  color: #666;
}

.educations {
  background-color: #eaeaea85;
  border-radius: 15px;
  margin: 3em 0;
  padding: 2em 10em;
}
