.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 1.5em 5em;
  transition-timing-function: ease-in;
  transition: 0.5s;
}
.Nav__items {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.Nav__items a {
  margin-right: 3em;
  cursor: pointer;
  text-decoration: none;
}

.nav_home {
  background-color: transparent;
}

.nav_home a {
  color: white;
}

.nav_scroll {
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 5px 10px -8px #000000;
}

.nav_scroll a {
  color: black;
}

.active {
  color: rgb(255, 203, 92) !important;
}
