.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  padding: 1.5em 5em;
}
.Nav__items {
  display: flex;
  justify-content: flex-end;
}

.Nav__items h3 {
  margin-right: 3em;
  cursor: pointer;
}

.nav_home {
  background-color: transparent;
  color: white;
}

.nav_scroll {
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 5px 10px -8px #000000;
}
