@import "./responsive.css";

.Projects {
  margin-top: 8em;
  text-align: center;
  padding: 0 10em;
}

.Projects__title h1 {
  font-size: 3em;
  margin-bottom: 0.3em;
}

.Projects__title p {
  color: #666;
}

.Projects__title {
}

.showcase {
}
