@import "./responsive.css";

.Projects {
  margin-top: 8em;
  text-align: center;
}

.Projects__title h1 {
  margin-bottom: 1em;
}

.Projects__title h3, .Projects__title2 h3 {
  font-size: 2em;
}

.Projects__title p {
  margin-bottom: 1em;
}

.Projects__title2 p {
  margin-bottom: 4em;
}

.Projects__cakes {
  margin-bottom: 6em;
  width: 100%;
}

.Projects__websites {
  width: 100%;
}

.websites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}
