@import "./responsive.css";

.Projects {
  margin-top: 8em;
  text-align: center;
  padding: 0 10em;
}

.Projects__title h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.Projects__title p {
  color: #666;
  margin-bottom: 1em;
}

.Projects__cakes {
  margin-bottom: 2em;
}

.Projects__websites {
  width: 100%;
}

.websites {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2em;
}
