@media all and (max-width: 1900px) {
  /* Projects */
  .Showcase__div {
    height: 650px !important;
  }
}
@media all and (max-width: 1700px) {
  /* Projects */
  .Showcase__div {
    height: 550px !important;
  }

  /* Skills */
  .skills_container {
    grid-template-columns: repeat(auto-fit, 200px) !important;
  }
}
@media all and (max-width: 1500px) {
  /* Projects */
  .Showcase__div {
    height: 450px !important;
  }
  .Projects__title p {
    margin-bottom: 2em !important;
  }
  .Projects__title2 p {
    margin-bottom: 2em !important;
  }
}
@media all and (max-width: 1300px) {
  /* App.css */
  .container {
    padding: 0 10em !important;
  }
  /* Projects */
  .Showcase__div {
    height: 350px !important;
  }
  /* Skills */
  .logoSize {
    font-size: 4em !important;
  }
}
@media all and (max-width: 1000px) {
  /* Projects */
  .Showcase__div {
    height: 250px !important;
  }
}

/* Medium Screen */
@media all and (max-width: 950px) {
  /* App.css */
  .container {
    padding: 0 7em !important;
  }

  /* About */
  .About__container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    /* margin-top: 5em !important; */
  }
  .About__container img {
    float: none !important;
    padding-right: 0 !important;
  }
  .About__text {
    margin-top: 4em !important;
    margin-left: 0 !important;
  }
  .button {
    display: grid;
    place-content: center;
  }

  /* Educations */
  .Educations h1 {
    font-size: 2em !important;
  }
  .educations {
    padding: 2em !important;
  }

  /* Projects */
  .Projects__title h1 {
    font-size: 2em !important;
  }
  .Showcase__div img {
    width: 70% !important;
  }
  .Showcase__div {
    height: 270px !important;
  }

  /* Contact */
  .Contact__title {
    font-size: 2em !important;
  }

  /* Nav bar */
  .Nav__items {
    justify-content: center !important;
  }
  .Nav__items a {
    font-size: 1em !important;
     margin-right: 1.5em !important;
  }
}

@media all and (max-width: 700px) {
  /* Projects */
  .Showcase__div {
    height: 240px !important;
  }
  .Showcase__div img {
    width: 100% !important;
  }

  /* Nav bar */
  .Nav__items {
    justify-content: center !important;
  }
  .Nav__items a {
    font-size: 0.9em !important;
     margin-right: 1.5em !important;
  }
}

/* Small Screen */
@media all and (max-width: 550px) {
  /* App.css */
  .container {
    padding: 0 4em !important;
  }
  /* Home */
  .Home {
    height: 350px !important;
  }
  .Home__name {
    font-size: 2em !important;
  }
  .Home__title {
    top: 20% !important;
  }

  /* About */
  .About__container {
    margin-top: 3em !important;
  }
  .About__container img {
    width: 10em !important;
  }
  .About__text p {
    font-size: 0.9em !important;
  }

  /* Educations */
  .Education {
    display: flex;
    flex-direction: column !important;
    align-items: unset !important;
  }
  .Education__icon {
    margin-bottom: 10px;
    font-size: 2em !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
  .years,
  .school {
    font-size: 0.6em !important;
  }
  .degree {
    font-size: 0.9em !important;
  }
  .educations {
    padding: 1em 2em !important;
    border-radius: 0 !important;
  }
  .Education__text {
    margin-left: 0em !important;
  }

  /* Nav bar */
  .Nav__items a {
    font-size: 0.7em !important;
     margin-right: 1.7em !important;
  }
}

/* XS Screen */
@media all and (max-width: 450px) {
  /* App.css */
  .container {
    padding: 0 2em !important;
  }
  /* Projects */
  .Carousel-buttonWrapper-6 button {
    width: 29px !important;
    height: 29px !important;
  }
  .MuiSvgIcon-root {
    width: 8px !important;
    height: 8px !important;
  }

  .websites {
    grid-template-columns: initial !important;
  }

  /* Skills */
  .skills_container {
    grid-template-columns: repeat(auto-fit, 100px) !important;
  }

  /* Nav bar */
  .Nav__items a {
    font-size: 0.6em !important;
    margin-right: 2em !important;
  }
}

@media all and (max-width: 360px) {
  /* App.css */
  .container {
    padding: 0 1em !important;
  }

  /* Projects */
  .Carousel-buttonWrapper-6 button {
    width: 15px !important;
    height: 15px !important;
  }

  /* Nav bar */
  .Nav__items a {
    font-size: 0.3em !important;
  }

  /* Skills */
  .skills_container {
    grid-template-columns: repeat(auto-fit, 90px) !important;
  }
  .logoSize {
    font-size: 3em !important;
  }
  .Skill p {
    font-size: 1em !important;
  }
}
