@import "./responsive.css";

.Showcase__div img {
  /* width: 650px; */
  width: 70%;
}
.Showcase {
  margin: 4em;
}
.Showcase__div {
  display: grid;
  place-items: center;
  width: 100%;
  height: 440px;
}
