@import "./responsive.css";

.Skills {
  margin-top: 8em;
  width: 100% ;
}

.Skills p {
  margin-bottom: 3em;
}

.logoSize {
  font-size: 6em;
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;

}

